#username{
    width: 179px;
    padding: 2px;
    background: #37404d;
    text-align: center;
    border-radius: 5px;
    color: white;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.Answered{
    background-color: #ffff0045;

}
.dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
  }

  .dropdown-notification:hover .notification-read {
    color: #34495E;
  }

  .dropdown-notification-all {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: oblique;
    background-color: #34495E;
    color: white;
  }

  .dropdown-notification-all:hover {
    background-color: #34495E;
    color: white;
  }

  .notifications-container {
    max-height: 300px;
    overflow: auto;
  }

  .notification-dropdown-menu {
    padding-bottom: 0;
    min-width: 528px;
  }

  .notification-img {
    width: 48px;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
  }

  .notifications-body {
    display: inline-block;
  }

  .notification-texte {
    text-align: left;
    margin: 0;
  }

  .notification-read {
    margin: 0;
    height: 48px;
    vertical-align: top;
    line-height: 48px;
    padding-left: 15px;
    color: white;
    float: right;
  }

  .notification-date {
    text-align: left;
    color: #2980b9;
    margin: 0;
  }

  .notification-solo {
    margin-top: 1rem;
  }

  .notification-unread {
    text-decoration: none;
    background-color: #f7f7f9;
  }
  li{
    margin-left: 15px;
    font-weight: bold;
    color: black;
    list-style-type: none;
}
a {
    color: #676769;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    max-height: 150px;
    min-height: 150px;
}
.fa-4x {
    color: #4b5059;
}
#notificationsIcon{
    font-size: 22px; margin-right: -8px;
    color: #ffbf00;
}
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #ffffff !important; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
a.list-group-item {
    background-color: #ffff0045 !important;
}

.unread{
    background-color: #ffed4a52 !important;
}
hr {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;

}
.li-admin{
    margin-left: 0px !important;
}
a {
    color: #676767 !important;
}
a:hover{
    text-decoration: none !important;
}
.card-header .fa {
    transition: .3s transform ease-in-out;
  }
  .card-header .collapsed .fa {
    transform: rotate(-90deg);
  }
  .bg-light:hover {
    background-color: #ffffff!important;
}
.btn.focus, .btn:focus {
    box-shadow: none !important;
}
.btn{
    color:#ffffff !important;
}
/* Tickets Status */
.status{
    color: white;
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
    width: 60%;
    font-size: small;
    text-align: center;
}
.status-solved{
    background: green;
}
.status-answered{
    background: #3490dc;
}
.status-pending{
    background: #e4ac04;
}
.status-closed{
    background: #dc3545;
}
.admin-dash{
    font-weight: bold;
    color: #e3342f !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #e9ecef !important;
}
.dash-search{
    background: #f7f7f7 !important;
}

/* Footer section */
.footer-social {
    margin-left: auto;
    margin-top: 8px;
}

.footer-social__list-item {
    display: inline-block;
    margin-left: 16px;
}
.footer__icon-link {
    display: inline-block;
    -webkit-transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}
.footer-social__icon {
    display: inline-block;
    height: 32px;
    width: 32px;
}
.footer-social__icon:hover {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: 1px solid #e2e2e2;
    padding: 2px;
    transition : .2s;
}
.solved_ticket{
    /* text-transform: uppercase; */
    font-style: italic;
    font-weight: bold;
    color: #65a41a;
    margin: 15px;
}
.solved_hr{
    border-color: #00800094;
}
.closed_ticket{
    /* text-transform: uppercase; */
    font-style: italic;
    font-weight: bold;
    color: #e3342f;
    margin: 15px;
}
.closed_hr{
    border-color: #e3342f;
}
.page-item.active .page-link {
    color: #fff !important;
    background-color: #676767a6 !important;
    border-color: #ffffff !important;
}
